<!DOCTYPE html>

<article>
<head>
   <link rel="stylesheet" type="text/css" href="{{url_for("static",filename="css/style.css")}}">
</head>
<body>

  <header>
      <h1>Latest Event</h1>
    </header>

    <nav>
      <div class="topnav">
      <a class="active" href="home">Home</a>
     <a class="active" href="about">About</a>
      <a href="event">Latest Events</a>
      <a href="contact">Contact</a>
      <a href="https://twitter.com/CodeNCoffee1">Socials</a>
    </div>
   </nav>
<br>

 <form>

    <input type="search" name="Juy" placeholder="Search a new event">
    <input type="submit" value=" search">
    </form>


  </nav>
     <br>

   <br>
   <p>We have a meetup every month to attempt our monthly code hakathon. This will be a fun evening where you will be able to meet new people. Free goodybags provided!</p>

     <br>

   <h2>12 June 2019 </h2>

   <h3>Let's get social</h3>
   <p class="address">
     Learn how to create your own,<br>
     social app with friends, food and drinks
   </p>

     <br>



   <h2>13 July</h2>

   <h3>Call me maybe?</h3>
   <p class="address">
     Want to know to use Whatsapp will,<br>
     use their API for buisneses? Come for Coffee & icecream
   </p>

     <br>



   <h2>20 October</h2>

   <h3>Give me my money</h3>
   <p class="address">
     Learn how to intergrate a<br>
     payment gateway to your website
   </p>



    <br>

    <a class="twitter-timeline" data-width="250" data-height="400" data-theme="dark" href="https://twitter.com/CodeNCoffee1">Code'N'Coffee</a>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<footer>
      <p> Copyright 2019 by Code N Coffee. All rights reversed.</p>
    </footer>

</article>
</body>
</html>
